<html class="theme-dark">
<section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">Waqqly</p>
      <p class="subtitle">react based web application</p>
    </div>
</section>

<section class="section has-text-centered">
  <h2 class="title">what is waqqly</h2>
  <img src="assets/placeholder.jpg" alt="main-waq-img" class="imagetop">
  <div class="container">
    <p>
      Cras in nibh lacinia, venenatis nisi et, auctor urna. Donec pulvinar lacus sed diam dignissim, 
      ut eleifend eros accumsan. Phasellus non tortor eros. Ut sed rutrum lacus. Etiam purus nunc, 
      scelerisque quis enim vitae, malesuada ultrices turpis. Nunc vitae maximus purus, nec consectetur dui. 
      Suspendisse euismod, elit vel rutrum commodo, ipsum tortor maximus dui, sed varius sapien odio 
      vitae est. Etiam at cursus metus. 
    </p>
  </div>
</section>


<section class="section">
  <div class="container">

  </div>
</section>

<section class="section">
  <div class="container">
      <h2 class="title">Section 3</h2>
      <p>SUMMARY OR SOMETHING</p>
      <a href="https://github.com/mattyc66" target="_blank">
        <button class="button is-ghost">Check out the code Here</button>
      </a>
      <a href="https://main.d1jd6blzsp64xs.amplifyapp.com/" target="_blank">
        <button class="button is-ghost">Visit website</button>
      </a>
  </div>
</section>
</html>
