    <footer class="footer has-background-dark has-text-white"> 
    <div class="continer content has-text-centered"> 
      <p>Follow me on</p>
      <div class="socials">
        <!-- linkedin -->
        <a href="https://www.linkedin.com/in/matthew-coppard-55ab32338" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin fa-3x" aref></i>
        </a>
        <!-- instagram -->
        <a href="https://www.instagram.com/matt__66_/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram fa-3x"></i>
        </a>
        <!-- twitter -->
        <a href="https://x.com/mcoppard2002" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-square-x-twitter fa-3x"> </i>
        </a>
      </div>
      <p>&copy;Matthew Coppard 2024</p>
    </div>
  </footer>


