<html class="theme-dark">
<section class="hero is-medium is-link">
    <div class="hero-body">
        <div class="container">
            <p class="title">Python project</p>
            <p class="subtitle">Python quote generator</p>
        </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
        <h2 class="title">Introduction to the Quote Generator</h2>
        <p>
            This project aimed to develop a quote generator for a department store to provide customers with personalized quotes for gift wrapping services. 
            The system was designed with a graphical user interface to ensure a user-friendly experience, allowing customers to easily customize their gift 
            wrapping preferences and receive an accurate price based on their choices. The application provides multiple options for the user to select from, 
            including different present shapes, wrapping paper patterns and colours, and additional features like bows and gift card messages.
        </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
        <h2 class="title">Requirements</h2>
        <p>
            <strong>Shape and Size input</strong>
            <br>
            Users must be able to selecr on of three diffrent shapes: Cube, Cuboid or Cylinder.
            The use must be able to input the width, length and height of the present, which will later be used to calculate the
            amount and price of the wrapping paper.
        </p>
            <br><br>
            <strong>Wraping Paper Options</strong>
            <br>
            <p>the system should provide the user with two diffrent paper types to choose from:</p>
            <ul>
               <li>Cheap paper: costs 0.4p per cm²</li>
               <li>Expensive paper: costs 0.75p per cm²</li>
            </ul>
            <br>
        <p>
            users can select between two diffrent pattern designs for the wrapping paper. user can also chose from six diffrent colours
            for the pattern design of the wrapping paper:
        </p>
        <ul>
            <li>Purple</li>
            <li>DarkSlateGray4</li>
            <li>Deep Sky Blue</li>
            <li>Light Sea Green</li>
            <li>VioletRed2</li>
            <li>Gold</li>
        </ul>
        <br><br>
        <strong>Paper net calculation</strong>
        <p>
            The amount of wrapping paper required is calculated based on the net area of the selected present shape, with an additional 3cm clearance on each 
            side to account for overlap. Using the dimensions entered by the user, the application determines the total net area of the present. This area is 
            then multiplied by the cost of the chosen wrapping paper type to calculate the total price for the wrapping paper.
        </p>
        <br><br>
        <Strong>Additonal options</Strong>
        <p>
            The application will provide the user with two additional options. a bow can be added for a fixed price of £1.50. a message can also be added with a 
            flat rate of 50p along with an additional 2p per letter for the message.
        </p>
        <br><br>
        <strong>Order summary</strong>
        <p>
            the application includes an option to generate a detailed sumary of the oder, which can then be saved to a text file. this file contains the dedtails 
            of each item in the order along with the total cost of the quote.
        </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
        <h2 class="title">System Overview</h2>
        <p>

        </p>
        <img src="assets/QuoteGenPreview.png" alt="quoteGen" class=" image" style="height: 470px; width: 650px;">
    </div>
  </section>

  <section class="section">
    <div class="container">
        <h2 class="title">Explore the Project Yourselff</h2>
        <p>
            If you'd like to explore the source code for the Quote generator or try it out for yourself, the GitHub repository is available below.
        </p>
        <a href="https://github.com/mattyc66" target="_blank">
            <button class="button is-ghost">Check out the code Here</button>
        </a>
    </div>
  </section>
  </html>
