<section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">Java work</p>
      <p class="subtitle">java library application</p>
    </div>
  </section>

  <section class="section">
    <div class="container">
        <h2 class="title">Intro title </h2>
        <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus. Donec sed odio dui.
            Nullam quis risus eget urna mollis ornare vel eu leo.
            Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nullam id dolor id
            nibh ultricies vehicula ut id elit.
        </p>
    </div>
  </section>


  <section class="section">
    <div class="columns is-vcentered">
        <div class="column is-one-third">
            <img src="assets/placeholder.jpg" alt="pic" class="image">
        </div>

        <div class="column is-half">
            <h2 class="title">Section 1</h2>
            <p>
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Donec sed odio dui.
                Nullam quis risus eget urna mollis ornare vel eu leo.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nullam id dolor id
                nibh ultricies vehicula ut id elit.
            </p>
        </div>
    </div>
  </section>

  <section class="section">
    <div class="columns is-vcentered">
        <div class="column is-half">
            <h2 class="title">Section 2</h2>
            <p>
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Donec sed odio dui.
                Nullam quis risus eget urna mollis ornare vel eu leo.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nullam id dolor id
                nibh ultricies vehicula ut id elit.
            </p>
        </div>
        <div class="column is-one-third">
            <img src="assets/placeholder.jpg" alt="pic" class="image">
        </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
        <h2 class="title">Section 3</h2>
        <p>SUMMARY OR SOMETHING</p>
        <button class="button is-ghost" href="https://github.com/mattyc66">Check out the code Here</button>
    </div>
  </section>