<html class="theme-dark">
<section class="hero is-medium is-link">
    <div class="hero-body">
        <div class="container">
            <p class="title">Java work</p>
            <p class="subtitle">java library application</p>
        </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
        <h2 class="title">Introduction to the library loan system</h2>
        <p class="paragraph">
            The Library Loan System project was developed to simplify the management of library resources such as books and DVDs. Using Java and JavaFX, the 
            system supports various loanable items, tracks availability, and manages loans and returns. Additional features include user authentication, 
            overdue fine calculation, item searches, and detailed item reports. With an intuitive interface and object-oriented design principles, the application
            is tailored for internal library employees, ensuring ease of use and functionality.
        </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
    <div class="columns">
        <div class="column is-narrow"><img src="assets/java-bookTab.png" alt="pic1" class="image"></div>
        <div class="column is-two-thirds">
            <h2 class="title">System Design and Navigation</h2>
            <p>
                The application was built with a focus on seamless navigation and efficient functionality. A dynamic layout was implemented, allowing different 
                FXML files to be displayed within the main view instead of navigating through multiple windows. This approach provided a smoother user experience 
                while maintaining a consistent layout.
                <br><br>
                Tabs were used for organizing sections like books and DVDs, offering a clear and intuitive interface. Each page featured unique images to improve 
                usability and visual appeal. To enhance functionality, the loans page included a date picker, allowing users to test overdue fine calculations by 
                selecting custom return dates.
            </p>
        </div>
    </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
    <div class="columns">
        <div class="column is-two-thirds is-narrow">
            <h2 class="title">Refinements and Visual Design</h2>
            <p>
                Significant changes were made to the initial wireframe to improve usability. The toolbar was removed to create a cleaner, more focused interface, 
                while the use of a blue color theme conveyed stability and professionalism. These refinements ensured a cohesive and user-friendly design, aligning 
                the system’s appearance with its functional goals. By combining thoughtful design elements with robust functionality, the library loan system delivered a reliable solution for library management 
                tasks
            </p>
        </div>
        <div class="column is-narrow"><img src="assets/java-login.png" alt="pic2" class="image"></div>
    </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
        <h2 class="title">Explore the project yourself</h2>
        <p>
            If you'd like to explore the source code for the Library Management System or try it out for yourself, the GitHub repository is available below.
        </p>
        <a href="https://github.com/mattyc66/library-system" target="_blank">
            <button class="button is-ghost">Check out the code Here</button>
        </a>
    </div>
  </section>
  </html>