<html class="theme-dark">
<section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">Tracker</p>
      <p class="subtitle">modular GPS animal tracker</p>
    </div>
  </section>

<section class="section">
    <div class="container">

    </div>
</section>

<section class="section">
  <div class="container">
      <h2 class="title">Section</h2>
      <p>SUMMARY OR SOMETHING</p>
      <a href="https://github.com/mattyc66" target="_blank">
        <button class="button is-ghost">Check out the code Here</button>
      </a>
  </div>
</section>
</html>
