<html class="theme-dark">
    <section class="hero is-success is-fullheight">
        <div class="hero-body ">
        <div class="container">
            <p class="title has-text-white is-size-1">Matthew Coppard</p>
            <p class="subtitle has-text-white is-size-4">
                Software Developer with a strong foundation in programming, web development, 
                and cybersecurity. I thrive on building seamless digital experiences, designing 
                secure solutions, and crafting scalable, high-performance web applications. Based in the UK
            </p>
        </div>
        </div>
    </section>

    <section class="section" id="showcase">
            <h2 class="title is-underlined">Previous Work</h2>
            <div class="card-list" role="list">
                <app-card
                [imageUrl]="'assets/waq-home.png'"
                [title]="'Waqqly'"
                [text]="'Modern web application built with react integrated with a cloud based database and utilising microservices.'"
                [link]="'waqqly'"
            ></app-card>
            <app-card
                [imageUrl]="'assets/java-bookTab.png'"
                [title]="'Library Loans System'"
                [text]="'A Java library application for managing books and movies, featuring an integrated SQL database for seamless data handling.'"
                [link]="'java'"
            ></app-card>
            <app-card
                [imageUrl]="'assets/appMain.PNG'"
                [title]="'Comic Tracker'"
                [text]="'Electron and React desktop app for managing personal comic reading list, with cover art, progress tracking, and import/export support'"
                [link]="'comic'"
            ></app-card>   
            <app-card
                [imageUrl]="'assets/QuoteGenPreview.png'"
                [title]="'Quote Generator'"
                [text]="'Python application designed for a gift wrapping service, featuring a quote generator, customizable designs, and receipt printing'"
                [link]="'python'"
            ></app-card>
            </div>
            <div class="container" style="width: 100%; text-align: center;">
                <button class="button is-ghost">
                    <a routerLink="projects">
                        <span class="icon is-large"></span> 
                        <i class="fa-solid fa-angle-down"></i>
                        <span>More</span>
                    </a>
                </button>
            </div>
    </section>


    <section class="section">
            <div class="columns is-centered">
                <!--left column-->
                <div class="column is-one-third">
                    <img src="/assets/pfp3.jpg" alt="bio image" class="image bio">
                </div>
                <!--right column-->
                <div class="column is-half">
                    <p class="title">Who is Matthew</p>
                    <p>
                        I’m Matthew Coppard, a Computer Scientist with a passion for solving complex problems and creating innovative solutions. My areas of expertise include web development (both front-end and back-end), software development, and IT hardware. I specialize in assembling, maintaining, and optimizing workstations, servers, and other hardware components, ensuring smooth operations and high performance.
                        <br><br>
                        I’m a creative problem solver, always looking for new ways to approach challenges. I have a strong proficiency in programming languages such as Python, Java, JavaScript, and C++, and I use these skills to automate tasks and streamline processes. I’ve also worked extensively with application design and development, including back-end and front-end development using frameworks like React and Angular.
                        <br><br>
                        In addition to my development skills, I have a solid understanding of database design and management, with experience in SQL, NoSQL, and cloud-based systems. I also have a good grasp of networking concepts and virtual machine (VM) configuration for diverse use cases.
                        <br><br>
                        I’m an effective task organizer with a keen focus on project delivery and meeting deadlines. I adapt quickly to fast-changing environments and enjoy collaborating as a proactive, dedicated team player. I’m always eager to take on new challenges and contribute to the advancement of technology.
                    </p>
                </div>
            </div>
    </section>

    <section class="section" id="contact">
        <div class="container">
            <!--insert contact form here-->
            <p class="title">Get in Touch</p>
            <form (submit)="sendMessage($event)">
                <!--name-->
                <div>
                    <label class="label">Name</label>
                    <input type="text" name="name" class="input" required>
                </div>
                <!--email-->
                <div>
                    <label class="label">Email</label>
                    <input type="email" name="email" class="input" required>
                </div>
                <!--message-->
                <div>
                    <label class="label">Your Message</label>
                    <textarea name="message" class="textarea" required></textarea>
                </div>
                <!--button-->
                <button type="submit" class="button is-large is-warning">
                    Send
                </button>
            </form>
        </div>
    </section>
</html>

