<section class="hero is-success is-halfheight">
    <div class="hero-body ">
      <div class="container">
        <p class="title">Matthew Coppard</p>
        <p class="subtitle">
            Computer scientist with a strong foundation in programming, web development, 
            and cybersecurity. I thrive on building seamless digital experiences, designing 
            secure solutions, and crafting scalable, high-performance web applications. Based in the UK
        </p>
      </div>
    </div>
  </section>


<section class="section" id="showcase">
<div class="container" id="work">
    <h2 class="h2">previous work</h2>
    <div role="list" class="work-list">
        <div role="listitem" class="work-item">
            <a href="" class="card"> 
            <div class="inner-card">
                <img src="" alt="waq" class="image">
                <h3 class="h3">Waqqly</h3>
                <p class="paragraph">insert waqqly here</p>
            </div>
            </a>   
        </div>
        <div role="listitem" class="work-item">
            <a href="" class="card"> 
                <div class="inner-card">
                    <img src="" alt="track" class="image">
                    <h3 class="h3">Tracker</h3>
                    <p class="paragraph">insert Tracker here</p>
                </div>
                </a>   
        </div>
        <div role="listitem" class="work-item">
            <a href="" class="card"> 
                <div class="inner-card">
                    <img src="" alt="jav" class="image">
                    <h3 class="h3">Java</h3>
                    <p class="paragraph">insert java here</p>
                </div>
                </a>   
        </div>
    </div>
</div>
</section>

<section class="section">
    <div class="container">
        <p>BIO</p>
    </div>
</section>


